@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Pacifico&family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #08001f, #30197d);
    color: #fff;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.clock {
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 700;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.clock span {
    margin: 0 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.clock:hover span {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .clock {
        font-size: 50px;
    }
}

@keyframes flip-in {
    from {
        transform: rotateX(90deg);
        opacity: 0;
    }

    to {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.flip-in {
    animation: flip-in 0.5s ease-in-out forwards;
}